*{
box-sizing: border-box;

}
ul{
  padding: 0;
}
li{
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
body{
  background-image:url("../ejercicio/img/bg-2.png");
}
header{
  overflow: hidden;
  width: 1140px;
  background-color: red;
  padding: 0 20px;
  margin: 0 auto;
}
.logo{
float: left;
padding-top: 7px;
padding-left: 10px;
padding-right: 10px;
}
.menu{
  margin-right: 20px;
}
.menu{
  float: left;
  overflow: hidden;
}
.menu li,
.login li{
  float: left;
  margin-right: 10px;
}
.menu li a,
.login li a{
color: #fff;
}
.login li:last-child{
  margin-right: 0px;
}
.login{
  float: right;
  overflow: hidden;
}
.container{
  width: 1140px;
  margin: 20px auto 0;
  overflow: hidden;
}
main{
  overflow: hidden;
  width: 800px;
  margin-right: : 10px;;
  float: left;
  background-color: #fff;
padding: 10px;

}
.product img {
  width: 300px;
}
a.more {
  display: block;
  background-color: #ef4c27;
  color: #fff;
  padding: 10px 20px ;
  margin-top: 10px;
  margin-bottom: 20px;



}
article.product{
  width: 380px;
  margin-right: 10px;
  float: left;
}
.product:nth-child(even){
  margin-right: 0;

}
aside{
  overflow:hidden;
  width: 320px;
  float: left;
}
.ads{
  width: 320px;}

article.service{
overflow: hidden;
border: 1px lightblue;
 padding: 10;
}
.service img{
  float: left;
  margin-right: 10px;
}
